<a href="https://colab.research.google.com/github/shreshthajit/Machine-Learning/blob/main/numpy_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
a=np.arange(12).reshape(3,4)
a

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

Using for loop for interation

In [3]:
for row in a:
  for cell in row:
    print(cell)

0
1
2
3
4
5
6
7
8
9
10
11

For loop with flatten

In [4]:
for cell in a.flatten():
  print(cell)

0
1
2
3
4
5
6
7
8
9
10
11

In [6]:
for x in np.nditer(a,order='C'):
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11

**Modify array  values while iterating**

In [7]:
for x in np.nditer(a,op_flags=['readwrite']):
    x[...]=x*x
a

array([[  0,   1,   4,   9],
       [ 16,  25,  36,  49],
       [ 64,  81, 100, 121]])